/* My Styles */

/*Gloabal*/
body {
  background: url(..//img/fibers.png), #f2f4f4;
}

/* Typography */


h1 {
    font-family: 'Rosario', sans-serif;
}

h2, h3, h4, h5 {
    font-family: 'Buenard', serif;
}

p, a {
    font-family: 'Gentium Book Basic', serif;
}

ul > li {
    list-style: none;
}

.top-bar .name h1 {
    color: white;
}
.events {
    margin-top: 50px;
}

/* Layout*/

header .mel {
    position: relative;
    top: -60px;
    left: 5px;
}

/* Links */

a, .panel.callout a:not(.button) {
	color: #33E5cf;
}

a:hover {
	color: #57c1ad;
	font-size: 1.1em;
}

/* Button */

button.alert, .button.alert {
	 background-image: -webkit-linear-gradient(top, #FF778D 15%, #ED5B6C 100%);
}

button.alert:hover, .button.alert:hover {
	 background-color: #ed5b6d;
	 border-color: #ed5b6d;

}