/* My Styles */

/*Gloabal*/


/* Typography */


h1 {
    font-family: 'Rosario', sans-serif;
}

h2, h3, h4, h5 {
    font-family: 'Buenard', serif;
}

p, a {
    font-family: 'Gentium Book Basic', serif;
}

ul > li {
    list-style: none;
}

.top-bar .name h1 {
    color: white;
}
.events {
    margin-top: 50px;
}

/* Layout*/

header .mel {
    position: relative;
    top: -60px;
    left: 5px;
}